[Unit]
Description=Emacs: the extensible, self-documenting text editor
After=dbus.service

[Service]
Type=forking
ExecStart=/bin/bash -lc '/usr/bin/emacs --daemon'
ExecStop=/usr/bin/emacsclient --eval "(kill-emacs)"
Restart=always

[Install]
WantedBy=default.target
