[Unit]
Description=Emacs: the extensible, self-documenting text editor
After=dbus.service

[Service]
Type=forking

# use login shell to source ~/.profile
# which include environment variable,
ExecStart=/bin/sh -l -c 'exec /usr/bin/emacs --daemon'
ExecStop=/usr/bin/emacsclient --eval "(kill-emacs)"
Restart=always

[Install]
WantedBy=default.target
